body {
  height: 100%;
  /*background-color: yellow; */
  font-family: helvetica;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: darkgreen;
  overflow: auto;
  padding: 20px 10px 0px 10px;
  box-shadow: 0px 0px 20px;
  margin-bottom: 20px;
}

header h1 {
  float: middle;
  width: 570px;
  font-size:200%;
  font-weight: bolder;
  color: white;
  margin-bottom: 9px;
}

header nav {
  float: right;
  width: 285px;
  margin-top: -30px;
}

main {
  background: white;
  overflow: auto;
}

main .left {
  float: left;
  width: 400px;
  padding: 10px;
  margin-top: 5px;
}

main .right {
  float: right;
  width: 285px;
}

#Q1 {color:red;}
#Q2 {color:purple;}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color:yellow;
}
.sitemap a{
  color: white;
}

.sitemap a:hover{
  color:orange;
}

.container{
  padding: 20px;
}

.pic{
  height: 300px;
}

nav a{
  background-color: rgb(0, 84, 0);
  color: white;
  text-decoration: none;
  padding: 100% 20px 100% 20px;
}
nav a:hover{
  color: darkgreen;
  background-color: orange;
}

li{
  margin: 8px;
  list-style-type: circle;
}

p{
  margin-bottom: 5px;
}

h2{
  text-decoration: underline;
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: bolder;
}

h3{
  font-size: 15px;
  padding-bottom: 5px;
  font-weight: bold;
  font-style: italic;
}

h5{
  text-decoration: underline;
  font-size: 18px;
  padding-bottom: 5px;
}

footer{
  background: darkgreen;
  height: 220px;
  color:white;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}